<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Liebe :)</title>
    <link href="../static/node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet"
          th:href="@{/node_modules/bootstrap/dist/css/bootstrap.min.css}">
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Love+Ya+Like+A+Sister&display=swap" rel="stylesheet">

</head>
<body>



    <div class="container">
        <div class="row">
            <div class="col text-center">
                <h1 style="color: red; font-family: 'Love Ya Like A Sister'; font-weight: bold">Meine Liebe zu dir</h1>
                <p style="color: red; font-family: 'Love Ya Like A Sister'; ">Hallo Kyra :) <br>
                Wenn du das hier ließt liegst du womöglich neben mir und denkst dir, was hat er da bitte gemacht. <br>
                Ich muss zugestehen, dass das ganze hier sehr viel länger gedauert hat, als erwartet, da es ziemlich schwer ist Websiten mit ein wenig Kenntnissen zu veröffentlichen. <br>
                    Ich habe es aber geschafft und fange deswegen mal an :)<br><br>
                    Σε αγαπώ πάρα πολύ Kύρα <br>
                    Ich könnte mir nicht - nein niemals - vorstellen, mit jemanden anderes zusammen zu sein. <br>
                    Du bist der hübscheste Mensch auf Erden und zugleich auch noch meine Freundin - wie kann das sein? :) <br>
                    Ich freue mich auf jeden, der noch kommenden Momente mit dir Prinzessin. <br>
                    Mein Schatz ich liebe dich über alles und bedanke mich für alles, was wir gemeinsam erlebt haben. <br>
                    Wir haben so viele Dinge gemeinsam das erste Mal gemacht und das finde ich noch immer sooo wunderschön. <br>
                    Ich freue mich auf eine strahlende Zukunft mit dir! <br><br>
                    Bleib wie du bist mein Baby. <br><br>

                    XOXO <br>
                    Lazar <br>

                </p>
                <form th:action="@{/passwortfuerdieliebe}" method="post">
                    <button class="btn btn-outline-danger" type="submit">Was ganz tolles :)</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>