<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Liebe :)</title>
    <link href="../static/node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet"
          th:href="@{/node_modules/bootstrap/dist/css/bootstrap.min.css}">
    <link rel="stylesheet" href="style.css">
</head>
<body>

    <h1 class="alert-danger">Ich liebe dich :)</h1>

    <div class="container">
        <div class="row">
            <div class="col-md-4 col-xs-6">
                <img class="img-fluid rounded pt-3" src="/images/1.jpeg" alt="Liebe1">
                <img class="img-fluid rounded pt-3" src="/images/2.jpeg" alt="Liebe2">
                <img class="img-fluid rounded pt-3" src="/images/3.jpeg" alt="Liebe3">
                <img class="img-fluid rounded pt-3" src="/images/4.jpeg" alt="Liebe4">
                <img class="img-fluid rounded pt-3" src="/images/5.jpeg" alt="Liebe5">
                <img class="img-fluid rounded pt-3" src="/images/6.jpeg" alt="Liebe6">
                <img class="img-fluid rounded pt-3" src="/images/7.jpeg" alt="Liebe7">
                <img class="img-fluid rounded pt-3" src="/images/8.jpeg" alt="Liebe8">
                <img class="img-fluid rounded pt-3" src="/images/9.jpeg" alt="Liebe9">
            </div>
        </div>
        <p class="pt-3">Dies wurde mit ganz viel Liebe gemacht. <br>Kyra ich liebe dich über alles</p>
    </div>






</body>
</html>